body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}

#reset, #verify {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
}
